body{
    margin: 0;
    padding: 0;  
    background: url(origin.jpg) no-repeat;
    background-size: cover;
}
.header{
  background-color: black;
   padding-top:10vh;
   
}
.logo{
    position: absolute;
    height: 50px;
    width: 150px;
    left:30px;
    top:30px;
    

}
.menu{
position: absolute;
top: 10px;
display:flex ;
right: 100px;
}

ul,li{
    display: block;
}
.menu li a{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1cm; 
    margin-right: 45px;
    color:#ffffff; 
}
    
.menu li a:hover{
  color: #fff;
}