/* .row:after {
    content: "";
    display: table;
    clear: both;
  } */

  /* div{
    float: left;
    width: 33.33%;
    padding: 10px;
  } */

#tbody1{
    display: grid;
    
    grid-template-columns: auto auto auto;
  }

