             /* Опис хедера */
.header{
    padding: 5px 0px;
    justify-content: center;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    background-color: black;
    z-index: 1000; 
 
 } 
.header_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    margin-left: 100px;
 
}
.nav{
    margin-right: 100px;
 }
.nav a{
    font-size: 18px;
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    color: azure;
    margin: 0 30px;
    transition: color 0.2s linear;
    font-family: 'Poppins', sans-serif;
}
.nav a:hover{
    color:#7a6daf;
    text-decoration: none;
}
.text-field__group {
    display: flex;
    position: relative;
}
        /* поле пошуку*/
.text-field__btn {
    width: 56px;
    height: 36px;
    color: #fff;
    background-color:  #9485D8;
    border: none;
    border-radius: 20px;
    transition: background-color .15s ease-in-out;
    z-index: 10;
}
.text-field__group .text-field__input {
    border:none;
    width: 300px;
    height: 36px;
    margin-bottom: 5px;
    border-radius: 20px;
    margin-left: -40px;
    position: relative;
    z-index: 2;
    padding-left: 45px;
}

 /* боковий блок з інформацією */
.sideblock{
    padding-top: 20px;
    margin-top: 157px;
    background: url(https://firebasestorage.googleapis.com/v0/b/lendory-b5d8b.appspot.com/o/Rectangle%201.png?alt=media&token=2008e9a5-67de-4d44-8cfd-d3aa365aae7b) no-repeat;
    background-size:cover ;
    float: right;
    text-align: center;
    width: 763px;
    height: 400px;
}
#lendory_text{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 32px;
    line-height: 45px;
    letter-spacing: 0.2em;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #A3BBD8;
    animation-duration: 3s; 
    animation-name: slidein;
}
#lendory_text:before{
    content: "01";
    margin-right: 10px;
    font-size: 82px;
    color: #9484D8;  
}
#about_lend{
    margin: 2px;
    animation-duration: 3s; 
    animation-name: slidein;
}
@keyframes slidein 
{
    from {
    margin-left: 100%;
    width: 300%;
    }
    to {
    margin-left: 0%;
    width: 100%;
    }
}
@keyframes slidein1 
{
    from {
    margin-left: 100%;
    width: 300%;
    }
    to {
    margin-left: 0%;
    width: 49.5%;
    }
}
.lend_descr{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 200px;
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.1em;
    color: #9485D8;
}
#but_advert{
    font-family: 'Poppins';
    font-style: normal;
    animation-duration: 3s;
    animation-name: slidein1;
    margin-top: 20px;
    padding: 10px 10px;
    border: none;
    background: #9485D8;
    border-radius: 30px;
    color: #fff;
    font-size: 25px;
    letter-spacing: 0.1em;
    font-weight: 500; 
}

  
               /* головна фотка */
.intro{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
     background: url(https://firebasestorage.googleapis.com/v0/b/lendory-b5d8b.appspot.com/o/3.jpg?alt=media&token=4f90121d-2462-4760-866b-c472606e3d41) no-repeat;  
    -webkit-background-size: cover;
    background-size: cover; 
    object-fit: contain;
}
     @keyframes jump {          /*анімація підстрибування*/ 
         0%, 20%, 60%, 100% {
             transform: translateY(0);
             transform: translateY(0);
         }
         40% {
             transform: translateY(-10px);
             transform: translateY(-10px);
         }
         80% {
             transform: translateY(-10px);
             transform: translateY(-10px);
         }
     }
     
 button:active{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transform: scale(0.9);
    
}

.main{
    width: 100%;
    height: 100vh;
    background: url(https://firebasestorage.googleapis.com/v0/b/lendory-b5d8b.appspot.com/o/background.png?alt=media&token=63374c06-6430-4525-aace-e6f930457b27) no-repeat;
    background-size: cover;      
}
 .recomandation{
     display: flex;
 }
.mainphoto_{
    margin-top: 50px;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    height: 542px;  
}
#photo_{
    float: right;
    border-radius: 30px;
    width: 420.17px;
    height: 326.57px;
    position: relative;
    z-index: 1000;
}
.desc{
    position: relative;
    text-align: center;
    margin-top: -89px;
    width: 420px;
    height: 222.41px;
    background-color: rgb(255, 255, 255);
    border-radius: 35px;
    z-index:1 ;
}
.pre_description{
    text-align: center;
    margin-left: 28px;
    padding: 10px;
    margin-top: 65px;
    border-radius: 30px;
    width: 122.18px;
    height: 117.09px;
    float: left;
    background: url(https://firebasestorage.googleapis.com/v0/b/lendory-b5d8b.appspot.com/o/gradient1.jpg?alt=media&token=903b7447-ad43-44d3-b559-4a66f7c958e6) no-repeat;
    background-size: cover; 
}
.description{
    text-align: left;
    position: relative;
    padding-top: 70px;
    padding-left: 15px;
    float: right;
    color: #fff;
    background: url(https://firebasestorage.googleapis.com/v0/b/lendory-b5d8b.appspot.com/o/gradient1.jpg?alt=media&token=903b7447-ad43-44d3-b559-4a66f7c958e6) no-repeat;
    background-size: cover;
    width: 240.73px;
    height: 222.41px;
    border-radius: 35px;
    z-index: 1;
}
#count_photo{ 
    position: relative;
    margin-top: 10px;
    font-size: 50px;
    color: #fff;
    z-index: 200;
}
#p{
    padding-left: 5px;
    text-transform: uppercase;
    margin-top: 170px;
    color: #CF89DB;
    font-weight: 500;
    font-size: 19px;
    letter-spacing: 0.1em;
}
#tbody1{
    display: grid;
    
    grid-template-columns: auto auto auto;
  }
          /* __________ADVERT.HTML__________ */

#advert{
    background-color: #ead8eb;
}
.advert_{
    padding-right: 370px;
    float: right;
    margin-top: 90px;
    margin-left: auto;      
    margin-right: auto;
    width: 20em;   
}
.title{
     padding: 10px 10px;
     color: #FFFFFF;
     margin: 3px ;
     background: url(https://firebasestorage.googleapis.com/v0/b/lendory-b5d8b.appspot.com/o/gradient1.jpg?alt=media&token=903b7447-ad43-44d3-b559-4a66f7c958e6) no-repeat;
     background-size: cover;
     width: 320px;
     border-radius: 20px;  
     padding-left: 15px; 
     font-family: 'Poppins', sans-serif; 
     font-size: 19px;
     letter-spacing: 0.05em;
 }
 #currency{                                
    margin-top: 8px;
    margin-left: 10px;
    background-color: #cd88db;
    border-radius: 30px;
    border: 0;
    font-size: 20px;
    color: #fff;
    padding: 2px 2px;
    position: absolute;   
 }
 #option{
     margin: 3px;
     border-radius: 30px;
     width: 290px;
     height: 30px;
     border: 0px;
     font-family: 'Poppins', sans-serif;
     font-size: 20px;
     border: 1px solid;  
     border-color: #7a6daf;
 }
.advert_ input{
    border-radius: 15px;
    padding-left: 10px;
    height: 30px;
    width: 280px;
    border: 0;
    margin: 6px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid;  
    border-color: #7a6daf;  
}
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
::placeholder{
    padding: 5px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2em;
}
textarea{
    padding: 5px;
    overflow: auto;
    background-size: 100% 1.5em;
    text-indent: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: vertical;
    border-color: #7a6daf;
    border-radius: 10px;
}
.create{
    margin-top: 6px;
    margin-left: 115px;
    background: url(https://firebasestorage.googleapis.com/v0/b/lendory-b5d8b.appspot.com/o/gradient1.jpg?alt=media&token=903b7447-ad43-44d3-b559-4a66f7c958e6) no-repeat;
    background-size: cover;
    border: none;
    border-radius: 20px;
    width: 120px;
    height: 46.2px;
    font-family: 'Poppins', sans-serif; 
    font-size: 19px;
    letter-spacing: 0.05em;
    color: #fff;  
}
.addpphoto{
    margin-left: 280px;
    margin-top: 90px;
    float: left;
    width: 500px;
    height: 1000px; 
    
}
._photo{
    border-radius: 20px;
    width: 220px;
    height: 140px;
    margin: 10px;
    object-fit: cover;
}
._photo:hover{
    transform: translateY(5px);
    transform: translateX(5px);
    transition: .4s ease;
    width: 210px;
    height: 130px;
}
.description_box{
    margin-left: 70px;
}
#pic{
    margin-left: 71px;
}
#add{ 
    background-color: #7d6bc5;
    border-radius: 20px;
    color: aliceblue;
    width: 29.24px;
    height: 28.28px;
    font-size: 20px; 
    border: none;
}
              /* __________SIGNIN__________ */

.sign_{
    background: url(https://firebasestorage.googleapis.com/v0/b/lendory-b5d8b.appspot.com/o/back2%201.png?alt=media&token=81dcaae8-8248-4f32-9ce2-327247beac56) no-repeat;
    background-size: cover;
}
.register_form{   
    border-radius: 75px;
    padding: 30px 30px;
    background: url(https://firebasestorage.googleapis.com/v0/b/lendory-b5d8b.appspot.com/o/grad2.jpeg?alt=media&token=e0ba0d74-e4eb-42d8-a0c2-2db967462fe4) no-repeat;
    background-size: cover;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 492px;
    height: 542px;   
}
.img_circle{
    margin-top: -100px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 160px;
    background-color: #FFFFFF;
    border-radius: 100px;
}
.img_circle img{
    width: 80px;
    height: 80px;
    margin-top: 38px;
    margin-left: 40px;
    
}
.SignIn_field{
    margin-top: 30px;
    display: flex;
    position: relative;
   justify-content: center;
}
.SignIn_field a{
    text-decoration: none;
    color: #9484D8;
}
.SignIn_field a:hover{
    text-decoration: none;
    color: #9484D8;
}
#sign_btn{
    width: 136px;
    height: 39px;   
    background: #9484D8;
    border-radius: 20px; 
    border: none;
    z-index: 5;
    color: #FFFFFF;
    letter-spacing: 0.05em;
}
#reg_btn{
    width: 220px;
    height: 39px;
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    margin-left: -30px;
    padding-left: 30px;
    z-index: 3;
    color: #9484D8;
    letter-spacing: 0.05em;
}
.input_field{
    margin-left: auto;
    margin-right: auto;
    width: 440px;
    height: 37px;
    border-radius: 20px;
    border: none;
    padding-left: 10px;
}
.label_field{
    margin-top: 10px;
    font-size: 25px;
    color: #fff;
    letter-spacing: 0.2em;
}
.custom-control-label{
    color: #FFFFFF;
    letter-spacing: 0.1em;
    font-size: 17px;
    margin-top: 30px;   
}
.signin_btn_block{
    display: grid;
    justify-content: center;
}
#signIn_button{ 
    font-family: 'Poppins', sans-serif;
    border: none;
    letter-spacing: 0.2em;
    margin-top: 30px;
    font-size: 20px;
    color: #9485D8;
    width: 140px;
    height: 40px;
    border-radius:32px ;   
}
.signin_btn_block a{
    margin-top: 10px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
    margin-left: 5px;
}
.signin_btn_block a:hover{
    color: #7a6daf;
    text-decoration: none;
    font-weight: 600;
}

      /* ______________SIGNUP_________________ */
#signUP_btn{
    width: 136px;
    height: 39px;   
    color: #9484D8;
    border-radius: 20px; 
    border: none;
    z-index: 5;
    background: #FFFFFF;
    letter-spacing: 0.05em;
    z-index: 1;
}
#regUP_btn{
    width: 220px;
    height: 39px;
    color: #FFFFFF;
    border-radius: 20px;
    border: none;
    margin-left: -30px;
    padding-left: 15px;
    z-index: 3;
    background: #9484D8;
    letter-spacing: 0.05em;
    z-index: 10;
}
#signUp_button{ 
    font-family: 'Poppins', sans-serif;
    border: none;
    letter-spacing: 0.05em;
    margin-top: 30px;
    font-size: 20px;
    color: #9485D8;
    width: 262px;
    height: 40px;
    border-radius:32px ;   
}
#label_field_signup{
    
    margin-top: 5px;
    margin-bottom: 5px;
}
#link{
    margin-left: 55px;
}

     /* _______ADVERTREVIEW__________ */

.container_review{
    left: 0;
    margin-top: 150px;
    width: 100%;
    height: 500px;
    background-color: #A9AEE6;
    border-radius: 60px;
    overflow:auto;
}
.main_photo_review_block{
    float: right;  
}
.review_main{
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 50px;
    width: 450px;
    height: 400px;
    border-radius: 35px;
    object-fit: cover
}
.other_photo_review_block{
    float: right; 
    display: grid;  
}
.review_other{
    margin-top: 37px;
    width: 150px;
    height: 120px;
    border-radius: 20px;
    object-fit: cover;

}
.text_review_block{
    padding-top: 25px;
   margin-left: 50px;
}
